<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Empleados</h1><br>
        <div class="row" [hidden]="!deleteMessage">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Empleado Eliminado</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Primer nombre</th>
                    <th>Segundo nombre</th>
                    <th>País empleo</th>
                    <th>Tipo identificación</th>
                    <th>Número identificación</th>
                    <th>Correo electronico</th>
                    <th>Fecha ingreso</th>
                    <th>Area</th>
                    <th>Estado</th>
                    <th>Fecha hora registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados ">
                    <td>{{empleado.primerApellido}}</td>
                    <td>{{empleado.segundoApellido}}</td>
                    <td>{{empleado.primerNombre}}</td>
                    <td>{{empleado.otroNombre}}</td>
                    <td>{{empleado.paisEmpleo}}</td>
                    <td>{{empleado.tipoIdentificacion}}</td>
                    <td>{{empleado.nroIdentificacion}}</td>
                    <td>{{empleado.correoElectronico}}</td>
                    <td>{{empleado.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                    <td>{{empleado.area}}</td>
                    <td>{{empleado.estado}}</td>
                    <td>{{empleado.fechaHoraRegistro | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td><button (click)="deleteEmpleado(empleado.id)" class='btn btn-primary'><i
                                class="fa fa-futboll-0">Eliminar</i></button>
                        <button (click)="updateEmpleado(empleado.id)" class='btn btn-info' data-toggle="modal"
                            data-target="#myModal">Modificar</button>
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="empleadoupdateform" #updemp (ngSubmit)="updateEmp(updemp)">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Modificar empleado</h4>

                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngFor="let empleado of empleadolist ">
                    <div [hidden]="isupdated">

                        <input type="hidden" class="form-control" formControlName="id" [(ngModel)]="empleado.id">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="name">Primer apellido</label>
                                <input type="text" class="form-control" formControlName="primerApellido"
                                    [(ngModel)]="empleado.primerApellido">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="name">Segundo apellido</label>
                                <input type="text" class="form-control" formControlName="segundoApellido"
                                    [(ngModel)]="empleado.segundoApellido">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="name">Primer nombre</label>
                                <input type="text" class="form-control" formControlName="primerNombre"
                                    [(ngModel)]="empleado.primerNombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="name">Segundo nombre</label>
                                <input type="text" class="form-control" formControlName="otroNombre"
                                    [(ngModel)]="empleado.otroNombre">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="paisEmpleoL">Pais de empleo</label>
                                <select class="form-control" formControlName="paisEmpleo" data-toggle="tooltip"
                                    data-placement="right" title="Seleccione el pais de empleo">
                                    <option value="Colombia" [selected]="'Colombia' == empleado.paisEmpleo">Colombia
                                    </option>
                                    <option value="Estados Unidos" [selected]="'Estados Unidos' == empleado.paisEmpleo">
                                        Estados Unidos</option>
                                </select>
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="tipoIdentificacionL">Tipo de identificación</label>
                                <select class="form-control" formControlName="tipoIdentificacion" data-toggle="tooltip"
                                    data-placement="right" title="Seleccione el tipo de identificación">
                                    <option value="Cedula de Ciudadania"
                                        [selected]="'Cedula de Ciudadania' == empleado.tipoIdentificacion">Cédula de
                                        Ciudadanía</option>
                                    <option value="Cedula de Extranjeria"
                                        [selected]="'Cedula de Extranjeria' == empleado.tipoIdentificacion">Cédula de
                                        Extranjería</option>
                                    <option value="Pasaporte" [selected]="'Pasaporte' == empleado.tipoIdentificacion">
                                        Pasaporte</option>
                                    <option value="Permiso Especial"
                                        [selected]="'Permiso Especial' == empleado.tipoIdentificacion">Permiso Especial
                                    </option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div [hidden]="!isupdated">
                        <h4>Detalle del empleado modificado!</h4>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [hidden]="isupdated">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="changeisUpdate()">Close</button>
                </div>

            </form>
        </div>
    </div>
</div>