<h3>Crear Empleado</h3>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div [hidden]="submitted">
            <form [formGroup]="empleadosaveform" #saveempleado (ngSubmit)="saveEmpleado(saveEmpleado)">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="name">Primer apellido</label>
                        <input type="text" class="form-control" formControlName="primerApellido" data-toggle="tooltip"
                            data-placement="right" title="Ingrese primer apellido">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoPrimerApellido.touched) && (EmpleadoPrimerApellido.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoPrimerApellido.errors.required">Primer apellido requerido</span>
                            <span *ngIf="EmpleadoPrimerApellido.errors.maxlength">
                                Maximo 20 caracteres
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="name">Segundo apellido</label>
                        <input type="text" class="form-control" formControlName="segundoApellido" data-toggle="tooltip"
                            data-placement="right" title="Ingrese segundo apellido">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoSegundoApellido.touched) && (EmpleadoSegundoApellido.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoSegundoApellido.errors.required">Segundo apellido requerido</span>
                            <span *ngIf="EmpleadoSegundoApellido.errors.email">
                                Invalid Email Format
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="name">Primer nombre</label>
                        <input type="text" class="form-control" formControlName="primerNombre" data-toggle="tooltip"
                            data-placement="right" title="Ingrese primer nombre">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoPrimerNombre.touched) && (EmpleadoPrimerNombre.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoPrimerNombre.errors.required">Primer nombre requerido</span>
                            <span *ngIf="EmpleadoPrimerNombre.errors.maxlength">
                                Maximo 20 caracteres
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="name">Segundo nombre</label>
                        <input type="text" class="form-control" formControlName="otroNombre" data-toggle="tooltip"
                            data-placement="right" title="Ingrese segundo nombre">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoOtroNombre.touched) && (EmpleadoOtroNombre.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoOtroNombre.errors.maxlength">
                                Maximo 20 caracteres
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="paisEmpleoL">Pais de empleo</label>  
                        <select class="form-control" formControlName="paisEmpleo" data-toggle="tooltip"   
                              data-placement="right" title="Seleccione el pais de empleo">  
                            <option value="null">--Seleccione pais de empleo--</option>  
                          <option value="Colombia">Colombia</option>  
                          <option value="Estados Unidos">Estados Unidos</option>  
                        </select>  
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="tipoIdentificacionL">Tipo de identificación</label>  
                        <select class="form-control" formControlName="tipoIdentificacion" data-toggle="tooltip"   
                              data-placement="right" title="Seleccione el tipo de identificación">  
                            <option value="null">--Seleccione--</option>  
                          <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>  
                          <option value="Cedula de Extranjeria">Cédula de Extranjería</option>
                          <option value="Pasaporte">Pasaporte</option>  
                          <option value="Permiso Especial">Permiso Especial</option>    
                        </select>  
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="nroIdentificacionL">Número de Identificación</label>
                        <input type="text" class="form-control" formControlName="nroIdentificacion" data-toggle="tooltip"
                            data-placement="right" title="Ingrese número de identificación">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoNroIdentificacion.touched) && (EmpleadoNroIdentificacion.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoNroIdentificacion.errors.required">Número identificacion requerido</span>
                            <span *ngIf="EmpleadoNroIdentificacion.errors.maxlength">
                                Maximo 20 caracteres
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="correoElectronicoL">Correo Electronico</label>
                        <input type="text" class="form-control" formControlName="correoElectronico" data-toggle="tooltip"
                            data-placement="right">
                        <div class="alert alert-danger"
                            *ngIf="(EmpleadoCorreoElectronico.touched) && (EmpleadoCorreoElectronico.invalid)"
                            style="margin-top: 5px;">
                            <span *ngIf="EmpleadoCorreoElectronico.errors.required">Segundo apellido requerido</span>
                            <span *ngIf="EmpleadoCorreoElectronico.errors.email">
                                Invalid Email Format
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="fechaIngresoL">Fecha de ingreso</label>
                        <input type="date"  class="form-control" formControlName="fechaIngreso" data-toggle="tooltip"
                            data-placement="right" title="Ingrese la fecha de registro">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="areaL">Area</label>  
                        <select class="form-control" formControlName="area" data-toggle="tooltip"   
                              data-placement="right" title="Seleccione la area">  
                            <option value="null">--Seleccione--</option>  
                          <option value="Administracion">Administración</option>  
                          <option value="Financiera">Financiera</option>
                          <option value="Compras">Compras</option>     
                        </select>  
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="estadoL">Estado</label>  
                        <select class="form-control" formControlName="estado" data-toggle="tooltip"   
                              data-placement="right" >  
                            <option value="Activo">Activo</option>  
                            <option value="Inactivo">Inactivo</option>     
                        </select>  
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="!submitted">
            <h4>Empleado creado correctamente!</h4>
            <button (click)="addEmpleadoForm()" class='btn btn-primary'>Añadir nuevo</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>